@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
}
header > p {
    border: solid black;
    flex-basis: 100%;
}